<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-plugin-service-worker"
      version="1.0.1">
    <name>Service Worker</name>
    <description>Service Worker Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,serviceworker,service,worker</keywords>

    <dependency id="com.vladstirbu.cordova.promise" url="https://github.com/vstirbu/PromisesPlugin.git" />

    <!-- JS modules for use by the plugin (browser env) -->
    <js-module src="www/service_worker_container.js" name="ServiceWorkerContainer">
        <clobbers target="navigator.serviceWorker" />
    </js-module>
    <js-module src="www/service_worker_registration.js" name="ServiceWorkerRegistration">
        <clobbers target="ServiceWorkerRegistration" />
    </js-module>
    <js-module src="www/service_worker.js" name="ServiceWorker">
        <clobbers target="ServiceWorker" />
    </js-module>
    <js-module src="www/kamino.js" name="kamino.js">
        <clobbers target="Kamino" />
    </js-module>

    <!-- Assets for use by the worker (worker env) -->
    <asset src="www/sw_assets/client.js" target="sw_assets/client.js" />
    <asset src="www/sw_assets/event.js" target="sw_assets/event.js" />
    <asset src="www/sw_assets/fetch.js" target="sw_assets/fetch.js" />
    <asset src="www/sw_assets/cache.js" target="sw_assets/cache.js" />
    <asset src="www/sw_assets/kamino.js" target="sw_assets/kamino.js" />
    <asset src="www/sw_assets/message.js" target="sw_assets/message.js" />

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ServiceWorker">
                <param name="ios-package" value="CDVServiceWorker" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVServiceWorker.h" />
        <source-file src="src/ios/CDVServiceWorker.m" />
        <header-file src="src/ios/FetchConnectionDelegate.h" />
        <source-file src="src/ios/FetchConnectionDelegate.m" />
        <header-file src="src/ios/FetchInterceptorProtocol.h" />
        <source-file src="src/ios/FetchInterceptorProtocol.m" />
        <header-file src="src/ios/ServiceWorkerCache.h" />
        <source-file src="src/ios/ServiceWorkerCache.m" />
        <header-file src="src/ios/ServiceWorkerCacheApi.h" />
        <source-file src="src/ios/ServiceWorkerCacheApi.m" />
        <header-file src="src/ios/ServiceWorkerCacheEntry.h" />
        <source-file src="src/ios/ServiceWorkerCacheEntry.m" />
        <header-file src="src/ios/ServiceWorkerRequest.h" />
        <source-file src="src/ios/ServiceWorkerRequest.m" />
        <header-file src="src/ios/ServiceWorkerResponse.h" />
        <source-file src="src/ios/ServiceWorkerResponse.m" />
        <framework src="JavaScriptCore.framework" />
        <framework src="CoreData.framework" />
    </platform>

</plugin>
