<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="org.apache.cordova.serviceworker"
      version="0.0.1-dev">
    <name>ServiceWorker</name>
    <description>ServiceWorker Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,serviceworker</keywords>

    <dependency id="com.vladstirbu.cordova.promise" url="https://github.com/vstirbu/PromisesPlugin.git" />

    <js-module src="www/serviceworkercontainer.js" name="ServiceWorkerContainer">
        <clobbers target="navigator.serviceWorker" />
    </js-module>
    <js-module src="www/serviceworkerregistration.js" name="ServiceWorkerRegistration">
        <clobbers target="ServiceWorkerRegistration" />
    </js-module>
    <js-module src="www/serviceworker.js" name="ServiceWorker">
        <clobbers target="ServiceWorker" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ServiceWorker">
                <param name="ios-package" value="CDVServiceWorker" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVServiceWorker.h" />
        <source-file src="src/ios/CDVServiceWorker.m" />
        <framework src="JavaScriptCore.framework" />
    </platform>

</plugin>
